@charset "UTF-8";
@font-face {
  font-family: 'Raleway';
  src: url(../../fonts/Raleway.ttf);
  font-weight: normal;
  font-style: normal; }
.wrapper {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  overflow-x: hidden !important;
  width: 100%; }

/*COLORS:*/
/*МИКСИНЫ:*/
header {
  background-image: url(../../images/redlady.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.header-info {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1024px) {
    .header-info {
      margin-left: 200px; } }
  @media (max-width: 760px) {
    .header-info {
      margin-left: 5%;
      margin-right: 5%; } }

.logo {
  min-width: 250px;
  height: 40px;
  background-color: #131313;
  border-left: 3px solid #ff0035;
  border-right: 3px solid #ff0035;
  margin-left: 5%;
  position: relative; }

.trapezium {
  width: 250px;
  position: relative;
  border-width: 60px 65px 0;
  border-style: solid;
  border-color: #131313 transparent;
  margin-left: 5%;
  position: absolute;
  top: 40px;
  right: -3px; }
  @media (max-width: 1024px) {
    .trapezium {
      position: absolute;
      left: -5%; } }

.trapezium:before {
  content: .trapezium:before quot;
  height: 0;
  width: 0;
  position: absolute;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent #ff0035; }

.upperMenuNav {
  display: flex;
  width: 100%;
  min-height: 70px;
  padding: 0;
  background-color: #08080c; }
  @media (max-width: 1024px) {
    .upperMenuNav {
      display: block;
      background-color: transparent; } }

.upperMenu {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  margin-left: 5%; }
  @media (max-width: 1330px) {
    .upperMenu {
      justify-content: space-evenly;
      margin-left: 1%; } }
  @media (max-width: 1024px) {
    .upperMenu {
      /* display: none; */
      display: block;
      margin-top: 175px;
      margin-left: 5%;
      position: absolute; } }
  @media (max-width: 700px) {
    .upperMenu {
      position: unset; } }

.hamburger {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 1%;
  top: 1%; }
  .hamburger img {
    width: 40px;
    height: 40px; }
  @media (min-width: 1024px) {
    .hamburger {
      display: none; } }
  @media (max-width: 1024px) {
    .hamburger {
      left: 5%;
      top: 15%; } }

.upper-menu-item {
  margin-right: 40px;
  margin-left: 40px;
  height: 70px;
  display: flex;
  align-items: center;
  width: 30px;
  flex-wrap: nowrap;
  justify-content: center; }
  @media (max-width: 1330px) {
    .upper-menu-item {
      width: auto;
      margin: 0; } }
  @media (min-width: 1124px) {
    .upper-menu-item {
      margin-right: 10px;
      margin-left: 10px;
      width: auto; } }
  @media (max-width: 1024px) {
    .upper-menu-item {
      display: block;
      width: 100px;
      height: 35px; } }
  .upper-menu-item:hover {
    border-top: 3px solid #ff0035;
    border-bottom: 3px solid #ff0035; }

.menu-ref {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #a4a4a4;
  font-family: "Raleway";
  white-space: nowrap;
  text-decoration: none; }
  .menu-ref:hover {
    text-decoration: none;
    color: #ffffff; }

.logo-text {
  font-size: 30px;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 60px; }
  .logo-text:hover {
    color: #ffffff;
    text-decoration: none; }

.header-arrows {
  height: 30px;
  width: 20px;
  margin: 30px; }
  @media (max-width: 1024px) {
    .header-arrows {
      margin: 10px; } }

.quest {
  font-size: 30px;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 190px; }
  .quest span {
    color: #ff0035; }
  @media (max-width: 1024px) {
    .quest {
      margin-top: 140px; } }
  @media (max-width: 700px) {
    .quest {
      margin-top: 5%; } }

.quest-text {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px; }
  @media (max-width: 760px) {
    .quest-text {
      margin-left: 10px;
      margin-right: 10px; } }
  @media (max-width: 760px) {
    .quest-text {
      margin-bottom: 10%;
      width: 250px; } }

.creativia-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.creativia-info-buttons {
  display: inline-flex;
  justify-content: center; }
  @media (max-width: 760px) {
    .creativia-info-buttons {
      margin-bottom: 10%;
      display: flex;
      flex-wrap: wrap; } }
  .creativia-info-buttons button {
    width: 170px;
    height: 50px;
    background-color: #131313;
    font-size: 20px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 500;
    text-align: center;
    border: 1px solid transparent;
    margin-bottom: 215px;
    margin-left: 30px; }
    @media (max-width: 760px) {
      .creativia-info-buttons button {
        margin-bottom: 10%; } }
    .creativia-info-buttons button:hover {
      background-color: #ff0035; }
    .creativia-info-buttons button:focus {
      border: 1px solid transparent; }

.info-page-container {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.head-row h2 {
  font-size: 30px;
  color: #262626;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 5%;
  margin-left: 5%; }
  .head-row h2 span {
    color: #ff0035; }
.head-row p {
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  font-family: "Lato";
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px; }
  .head-row p span {
    color: #ff0035; }

.info-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 105px; }
  .info-row article {
    margin-right: 100px; }

.info-items {
  margin-right: 10px; }

.info-row-text {
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  max-width: 570px; }

.info-item-title {
  max-width: 570px;
  height: 45px;
  background-color: #f7f7f7;
  display: block;
  margin-bottom: 10px;
  border: 1px solid #e7e7e7;
  position: relative; }

.plus-minus {
  width: 60px;
  border: 1px solid #e7e7e7;
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center; }

.info-title {
  font-size: 20px;
  color: #505050;
  font-family: "Raleway";
  font-weight: 500;
  text-align: left;
  margin-left: 90px;
  vertical-align: top;
  margin-top: 10px; }

.info-title-toggled {
  color: #ff0035; }

.radius {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-image: url(../../images/plus.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.radius-toggle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-image: url(../../images/minus.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.info-text {
  font-size: 14px;
  line-height: 22px;
  color: #505050;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  max-width: 570px;
  /*visibility: hidden;*/
  display: none; }

.info-text-toggled {
  /*	visibility: visible;*/
  display: flex; }

.pictures {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center; }

.maninglasses {
  position: absolute;
  max-height: 320px;
  left: -15%;
  max-width: 425px; }

.woman {
  position: absolute;
  height: 320px;
  left: 30%;
  max-width: 425px; }

.man {
  z-index: 3;
  height: 360px;
  max-width: 425px; }

.info-line {
  width: 500px;
  height: 2px;
  background-color: #262626;
  position: relative; }
  .info-line img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: auto; }

.strengths-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 100px; }

.strength-item {
  max-width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px; }

.hexagon {
  background-image: url(../../images/hexagon_for_Strenghts.svg);
  background-repeat: no-repeat;
  width: 85px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  z-index: 2; }

.hexagon-toggled {
  background-image: url(../../images/hexagon_red.svg);
  background-position: center center;
  background-size: contain; }

.inner-hexagon {
  width: 30px;
  height: 45px;
  background-position: center center;
  background-repeat: no-repeat; }

.heart {
  background-image: url(../../images/heart-black.svg); }

.heart-toggled {
  background-image: url(../../images/heart-white.svg);
  background-color: #ff0035;
  background-position: center center;
  background-size: contain; }

.tick {
  background-image: url(../../images/3.png); }

.tick-toggled {
  background-image: url(../../images/tick-white.svg);
  background-color: #ff0035;
  background-position: center center;
  background-size: contain; }

.ipad {
  background-image: url(../../images/ipad-black.svg); }

.ipad-toggled {
  background-image: url(../../images/ipad-white.svg);
  background-color: #ff0035;
  background-position: center center;
  background-size: contain; }

.fire {
  background-image: url(../../images/flame.jpg);
  background-color: #ffffff; }

.fire-toggled {
  background-image: url(../../images/flame-white.jpg);
  background-color: #ff0035;
  background-position: center center;
  background-size: contain; }

.strength-title {
  font-size: 20px;
  color: #262626;
  font-family: "Raleway";
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px; }

.strength-text {
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  font-family: "Lato";
  font-weight: 400;
  text-align: center; }

.portfolio-container {
  background-color: #262626; }

.portfolio-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .portfolio-header h3 {
    font-size: 30px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 25px; }

.portfolio-list {
  margin: 0;
  padding: 0;
  display: flex; }

.portfolio-item {
  list-style-type: none;
  margin: 15px;
  margin-bottom: 100px; }
  .portfolio-item a {
    font-size: 16px;
    line-height: 22px;
    color: #a4a4a4;
    font-family: "Lato";
    font-weight: 700; }
    .portfolio-item a:hover {
      color: #ff0035;
      text-decoration: none; }

.portfolio-row-pictures {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*  justify-content: center;*/
  width: 100%; }

.portfolio-picture {
  height: 350px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .portfolio-picture img {
    width: 80%; }

.narrow {
  width: 21%; }

.wide {
  width: 29%; }

.yellow {
  background-color: #f39943;
  position: relative; }

.twin-yellow {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  .twin-yellow img {
    width: 23px;
    height: 23px;
    margin-bottom: 30px; }
  .twin-yellow p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400; }

.yellow-toggled {
  display: flex; }

.blue {
  background-color: #3782aa;
  position: relative; }

.twin-blue {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  .twin-blue img {
    width: 23px;
    height: 23px;
    margin-bottom: 30px; }
  .twin-blue p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400; }

.blue-toggled {
  display: flex; }

.pink {
  background-color: #ef5d88;
  position: relative; }

.twin-pink {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  .twin-pink img {
    width: 23px;
    height: 23px;
    margin-bottom: 30px; }
  .twin-pink p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400; }

.pink-toggled {
  display: flex; }

.white {
  background-color: #f6f0e0;
  position: relative; }

.twin-white {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  .twin-white img {
    width: 23px;
    height: 23px;
    margin-bottom: 30px; }
  .twin-white p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400; }

.white-toggled {
  display: flex; }

.green {
  background-color: #56cc82;
  position: relative; }

.twin-green {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  .twin-green img {
    width: 23px;
    height: 23px;
    margin-bottom: 30px; }
  .twin-green p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400; }

.green-toggled {
  display: flex; }

.gray {
  background-color: #95a5a5;
  position: relative; }

.twin-gray {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  .twin-gray img {
    width: 23px;
    height: 23px;
    margin-bottom: 30px; }
  .twin-gray p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400; }

.gray-toggled {
  display: flex; }

.azure {
  background-color: #24b0c9;
  position: relative; }

.twin-azure {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  .twin-azure img {
    width: 23px;
    height: 23px;
    margin-bottom: 30px; }
  .twin-azure p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400; }

.gray-toggled {
  display: flex; }

.orange {
  background-color: #fa8562;
  position: relative; }

.twin-orange {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  .twin-orange img {
    width: 23px;
    height: 23px;
    margin-bottom: 30px; }
  .twin-orange p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400; }

.orange-toggled {
  display: flex; }

.portfolio-line {
  width: 500px;
  height: 2px;
  background-color: #ff0035;
  position: relative; }
  .portfolio-line img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: auto; }

.portfolio-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
  background-color: #262626; }

/*# sourceMappingURL=main.css.map */
