.blog {
  margin-right: 5%;
  margin-left: 5%;
  @include alignment;
  flex-direction: column;
  flex-wrap: wrap;
}

.blog_header {
   margin-top: 100px;

  h3 {
    @include headtitle;
    margin-bottom: 45px;

    span {
      color: $ladyRed;
    }
  }

  p {
    @include headtext;

    span {
      color: $ladyRed;
    }
  }
}

.blog_list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog_item {
  display: flex;
  align-items: unset;
  margin: 25px;
  height: 200px;
}

.blog_item-picture {
  width: 370px;
  height: 200px;
  margin-right: 30px;
}

.blog_item-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 570px;
  justify-content: flex-start;
}

.blog_item-title {
  font-size: 20px;
  line-height: 21px;
  color: #2e2e2e;
  font-weight: 600;
  font-family: "Raleway";
  text-align: left;
  margin-bottom: 20px;
}
.blog_item-statistic {
  @include alignment;
}
.statistic-item {
  @include alignment;
  margin-left: 11px;
}
.statistic_text {
  font-size: 12px;
  color: #a2a2a2;
  font-weight: 400;
  font-family: "Lato";
  margin: 0;
}

.statistic-picture {
  width: 13px;
  height: 16px;
  margin-right: 8px;
}
.blog_item-text {
  font-size: 16px;
  color: #505050;
  font-weight: 400;
  font-family: "Lato";
  text-align: left;
  margin-bottom: 15px;
}
.blog_item-button {
  width: 120px;
  height: 40px;
  background-color: #262626;;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
  border: none;

  &:focus {
    outline: none;
  }
}
.blog_item-arrow-button {
  width: 43px;
  height: 43px;
  border-radius: 21px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 85px;

    &:focus {
    outline: none;
     // outline: none;
  }
}

.blog_item-arrow {
  width: 21px;
  height: 14px;
}
