footer {
  height: 80px;
  background-color: #262626;
  position: relative;
  @include alignment;
}

.footer_title {
  font-size: 16px;
  color: #8e8e8e;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
  margin-right: 32%;
  margin-left: 45%;
}

.footer_text {
  font-size: 16px;
  color: #8e8e8e;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
}