.wrapper {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  overflow-x: hidden !important;
  width: 100%;
}

header {
	background-image: url(../../images/redlady.jpg);
	background-repeat: no-repeat;
  background-size: cover;
}

.header-info {
	display: flex;
	justify-content: center;
  align-items: center;
}


.logo_octagon {
  position: relative;
  background-image: url("../../images/header_octagon.png");
  background-repeat: no-repeat;
  background-size: inherit;
  height: 108px;
  min-width: 260px;
  margin-left: 116px;
}

.logo-text {
  font-size: 30px;
  color: $white;
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 36px; left: 0; bottom: 0; right: 0;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.upperMenuNav {
	display: flex;
	min-height: 70px;
  height: 70px;
	background-color: $lightblack;
  justify-content: space-around;
}

.upperMenu {
	display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.hamburger {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 1%;
	top: 1%;

	img {
		width: 40px;
		height: 40px;
	}

	@media (min-width: 1024px) {
		display: none;
	}

	@media (max-width: 1024px) {
		left: 5%;
    top: 15%;
	}
}

.upper-menu-item {
/*   margin-right: 40px;
  margin-left: 40px; */
  height: 70px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;

  &:hover {
  	border-top: 3px solid $ladyRed;
  	border-bottom: 3px solid $ladyRed;
  }
}

.menu-ref {
	font-size: 18px;
	color: $grayText;
	font-family: "Raleway";
	white-space: nowrap;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $white;
	}
}

.header-arrows {
	height: 30px;
	width: 20px;
	margin: 30px;

	@media (max-width: 1024px) {
		margin: 10px;
	}
}

.quest {
	font-size: 30px;
	color: $white;
	font-family: "Raleway";
	font-weight: 700;
	text-align: center;
	margin-bottom: 45px;
	margin-top: 190px;

	span {
		color: $ladyRed;
	}

	@media (max-width: 1024px) {
		margin-top: 140px;
	}

 	@media (max-width: 700px) {
	margin-top: 5%;
  }
}

.quest-text {
	font-size: 16px;
	line-height: 22px;
	color: $white;
	font-family: "Lato";
	font-weight: 400;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;

	@media (max-width: 760px) {
		margin-left: 10px;
		margin-right: 10px;
  }

  @media (max-width: 760px) {
			margin-bottom: 10%;
			width: 250px;
  	}
}

.creativia-info {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creativia-info-buttons {
	display: inline-flex;
  justify-content: center;

  @media (max-width: 760px) {
		margin-bottom: 10%;
		display: flex;
    flex-wrap: wrap;
  }

	button {
		width: 170px;
		height: 50px;
		background-color: $darkBlack;
		font-size: 20px;
		color: $white;
		font-family: "Raleway";
		font-weight: 500;
		text-align: center;
		border: 1px solid transparent;
		margin-bottom: 215px;
		margin-left: 30px;

		@media (max-width: 760px) {
			margin-bottom: 10%;
  	}

		&:hover {
			background-color: $ladyRed;
		}

		&:focus {
			border: 1px solid transparent;
		}
	}
}